
  .chat-content {
  

  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    
    margin-bottom: 15px;
    
  }
  
  .dropbtn {
   
    padding: 2px;
    padding-left: 13px;
    cursor: pointer;
    width: 400px;
    text-align: left;
    background-color: white;
    border: none;

    border: solid 1px var(--idk);
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    opacity: 0.9;
    font-family: Quicksand,Open Sans,sans-serif;
    
  
  }
  .summarize-button {
    margin-top: -4px;
    padding: 9px;
    border-radius: 15px;
    border: none;
    background-color: #1A716B;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 15px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 400px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: 1px solid var(--idk);
    max-height: 200px;
    overflow-y: auto; 
  }
  #droppings{
    display: none;
    justify-content: space-between;
    width: 100%;
  }


  #droppings2{
    display:none;
    justify-content: space-evenly;
    width: 100%;
  }
  .dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
  }
  
  .dropdown-content a:hover {
    background-color: var(--idk);
    color: white;
  }
  
  .dropdown.open .dropdown-content {
    display: block;
  }
  
  .arrow {
    border: solid black;
    border-width: 0 1.7px 1.7px 0;
    float: right;
    padding: 3px;
    margin-right: 5px;
    margin-top: 6px;
  }
    
  .myarrow {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  
  .white-box {
    font-size: 14.5px;
    font-family: 'Roboto', sans-serif;
     letter-spacing: 1px;

    background-color: white;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
  
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .chat-container {
    display: flex;
    align-items: flex-start;
    
  }
  
  .bot-img {
    width: 80px;
    height: auto;
  }
  
  ::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb:window-inactive {
    background: grey;
}

::-webkit-scrollbar-thumb{
  background-color: grey;
}
  .teal-box {
    border-radius: 10px;
    color: rgb(32, 31, 31);
    padding: 17px;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    max-height: 230px;
    overflow-y: auto;
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    line-height: 2.5;
  }
  
  

  .dropdown-content {
    display: none;
  }
  
  /* Show the dropdown content when the dropdown is active */
  .dropdown.active .dropdown-content {
    display: block;
  }

  .ref{
    float: right;
    margin-right: 15px;
    margin-top: 25px;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    color: var(--idk);
  }
  
  .sug-box{
    
    border-radius: 10px;
    color: rgb(32, 31, 31);
   
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 67px;

  }
  
  .sug-box p{
    cursor: pointer;
    padding: 8px;
    border: 1px solid #edf2f9;
  }
  
  .sug-box :hover{
    background-color:white;
    color: black;
    border-radius: 7px;
  }

  .sug-box p:hover{
    background-color:rgb(214, 213, 213);

  }
  
  .question {
    position: absolute;
    bottom: 20px;
    width: 60%;
  
    border-radius: 10px;
    left: 405px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .question input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;  
    border-radius: 10px;
    margin-top: 10px;
    transition: border-color 0.3s; 
  }
  
  .question input:focus {
    border-color: teal;
    outline: none;
  }
  
  .suggetions{
    margin-top: 50px;
    margin-left: 27px;
  }
  
  .suggetions h3{
    margin-top: 25px;
    font-size: 19px;
    font-family: Quicksand,Open Sans,sans-serif;
    font-weight: bold;
  
  }

  #loadingIcon {
    display: flex;
    justify-content: left;
    align-items: center;
   
  }
  
  .dot {
    width: 15px;
    height: 15px;
    background-color: #26a5d0; /* Adjust color as needed */
    border-radius: 50%;
    margin: 0 5px;
    animation: moveDots 1s infinite alternate;
  }
  
  @keyframes moveDots {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  
  .dot:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .dot:nth-child(3) {
    animation-delay: 0.4s;
  }

  .fontr{
   
  }

.how{
  display: flex;
  justify-content: center;
  padding: 3px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.exact{
  padding: 3px;
}
