<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>INFO3180 Lab 4</title>

    <!-- Bootstrap -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://kit.fontawesome.com/5228807b14.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename="css/bootstrap.min.css") }}" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename="css/app.css") }}">
    {% block css %} {% endblock%}
  </head>
  <body>
    <header>
        {% include "header.html" %}
    </header>
    <main>
      {% include "aside.html" %}
        <div class="container2 ">
        
            {% block main %}{% endblock %}
        </div>
    </main>


    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename="js/bootstrap.min.js") }}"></script>
    {% block js %} {% endblock%}
  </body>
</html>
