<header>
    <div class="logo-container">
      <img src="book.png" alt="Edubook Logo" class="logo-img">
      <span class="logo-text">Edubook</span>
    </div>
    <div class="header-middle">
      <p>Library<i class="fa-solid fa-book"></i></p>
      <p>Upload<i class="fa-solid fa-arrow-up-from-bracket"></i></p>
    </div>
    <div class="header-right">
      <button class="sign-btn">Sign In</button>
      <button class="sign-btn"><i class="fa-regular fa-user"></i>Sign Up</button>
    </div>
  </header>