
<nav>
  <div class="logo-container">
    <img  src="{{ url_for('static', filename='images/logo.jpeg') }}" alt="Edubook Logo" class="logo-img">
    <span class="logo-text">Edubook</span>
  </div>
  <div class="header-middle">

    <ul>
      <li >
        <a class="active" href="{{ url_for('chat') }}">Library <span class="visually-hidden">(current)</span></a>
      </li>

       
      </li>
    

      <li >
        <a class="" href="{{ url_for('register') }}">About</a>
    </li>
    </li>

    </ul>

  
       
  </div>
  <div class="header-right">
    <button style="color: var(--idk);
    ; border-color: var(--idk);
    ;" class="sign-btn"><a class="" href="{{ url_for('login') }}">Sign in</a></button>


    <button class="sign-btn" style="color: white; background-color: var(--idk);
    ;"  ><a class="" href="{{ url_for('login') }}">Sign up</a></button>

  </div>
</nav>














